@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="customDiv">Left Side Bar</div>
        </div>
        <div class="col-md-8">
            <div class="customDiv">Main Content Area</div>
        </div>
        <div class="col-md-2">
            <div class="customDiv">Right Side Bar</div>
        </div>
    </div>
</div>